.container {
  width: 100% !important;
  margin: 0;
  padding: 0 !important;
  .container-inner {
    &.inner-default {
      width: 1200px;
      margin: 20px auto;
    }
    &.inner-sm {
      width: 800px;
      margin: 40px auto;
    }
  }
}

#logo img {
      border-radius: 100%;
      display: inline-block;
      background-color: #ccc;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 3px;
      width: 30px;
      height: 30px;
      background-size: cover;
      border: 3px solid #fff;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
